@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Calc Service Demo</h1>
    <h2>@Html.ActionLink("Run It", "Index", "Calc")</h2>
    <p>
        <a href="https://github.com/shahedc/CalcApp30WithTests"></a>
        <br />
        Welcome to JMFE!!! This is a Sample Calculator App:
        <ul>
            <li>ASP.NET Core 3.0</li>
            <li>Unit Testing with xUnit.net</li>
        </ul>
    </p>
</div>
